In [ ]:
import numpy as np
import pandas as pd

In [ ]:
trace_table = pd.read_excel("D:/Downloads/Book2.xlsx")

In [ ]:
trace_dic = {}
for i,j in zip (trace_table['Trace'],trace_table['Count']):
  trace_dic[i] = j

#HW4 Calc

In [ ]:
n = []
for i in trace_dic:
  l = i.count("II")
  p = l * trace_dic[i]
  n.append(p)

print(sum(n))

0

In [ ]:
HW4DF = pd.DataFrame({"Index LOL":['A','B','C','D','E']})

In [ ]:
HW4DF['A'] = ""
HW4DF['B'] = ""
HW4DF['C'] = ""
HW4DF['D'] = ""
HW4DF['E'] = ""

In [ ]:
lis = list(['A','B','C','D','E'])

Dependency count

In [ ]:
dx_dic = {}
for col in HW4DF.columns:
    dx_dic[col] = HW4DF.columns.get_loc(col)

In [ ]:
PP = {}
for k in lis:
  for o in lis:
    n = []
    m = k+o
    for i in trace_dic:
      if ((k == o) and (i.count(m) != 0)):
        l = i.count(o) - 1
        p = l * trace_dic[i]
        n.append(p)
      else:
        l = i.count(m)
        p = l * trace_dic[i]
        n.append(p)
    v = int(np.where(HW4DF == k)[0])
    x = dx_dic[o]
    b = int(sum(n))
    HW4DF.iloc[v,x] = int(b)
    PP[m] = sum(n)

In [ ]:
PP

{'AA': 0,
 'AB': 90,
 'AC': 70,
 'AD': 0,
 'AE': 0,
 'BA': 0,
 'BB': 0,
 'BC': 150,
 'BD': 40,
 'BE': 50,
 'CA': 0,
 'CB': 90,
 'CC': 0,
 'CD': 40,
 'CE': 110,
 'DA': 0,
 'DB': 60,
 'DC': 20,
 'DD': 0,
 'DE': 0,
 'EA': 0,
 'EB': 0,
 'EC': 0,
 'ED': 0,
 'EE': 0}

In [ ]:
HW4DF

  Index LOL  A   B    C   D    E
0         A  0  90   70   0    0
1         B  0   0  150  40   50
2         C  0  90    0  40  110
3         D  0  60   20   0    0
4         E  0   0    0   0    0

Dependency

In [ ]:
for k in lis:
  for q in lis:
    m = k+q
    b = q+k
    t = PP[m]
    o = PP[b]
    #print("{},{}".format(t,o))
    ans = float("{:.2f}".format(((t - o) / (t + o + 1))))
    v = int(np.where(HW4DF == k)[0])
    x = dx_dic[q]
    HW4DF.iloc[v,x] = ans

In [ ]:
HW4DF

  Index LOL     A     B     C     D     E
0         A   0.0  0.99  0.99   0.0   0.0
1         B -0.99   0.0  0.25  -0.2  0.98
2         C -0.99 -0.25   0.0  0.33  0.99
3         D   0.0   0.2 -0.33   0.0   0.0
4         E   0.0 -0.98 -0.99   0.0   0.0

Long Distance

In [ ]:
i = "AASANBSKANS"
#i.find("A",3)
p = i.count("A")
m = i.count("S")
main = 0
count = 0
for p in i:
    if (p == "A" and count == 0):
        count = count + 1
    elif (p == "A" and count == 1):
        count = 1
    elif (p == "S" and count == 1):
        count = 0 
        main = main + 1

In [ ]:
main

3

In [ ]:
#incomplete
longdistance = []
for i in lis:
  for k in lis:
    bg = i+k
    gb =k+i
    for j in trace_dic:
      if j.count(bg) != 0:
        break
      elif j.count(gb) != 0:
        break
      else:
        kj = bg
        jk = gb
    longdistance.append(kj)
    longdistance.append(jk)
longdistance = list(np.unique(longdistance))

In [ ]:
longdistance

['AA',
 'AC',
 'AD',
 'AE',
 'BB',
 'BD',
 'BE',
 'CA',
 'CC',
 'CD',
 'DA',
 'DB',
 'DC',
 'DD',
 'DE',
 'EA',
 'EB',
 'ED',
 'EE']

In [ ]:
longey = {}
for i in PP:
  g = i[0]
  n = i[1]
  pp = []
  for j in trace_dic:
    main = 0
    count = 0  
    for p in j:
        if (p == g and count == 0):
            count = count + 1
        elif (p == g and count == 1):
            count = 1
        elif (p == n and count == 1):
            count = 0 
            main = main + 1
    ll = main * trace_dic[j]
    pp.append(ll)
  summ = sum(pp)
  longey[i] = summ

In [ ]:
trace_table

   Count       Trace
0     50        ABCE
1     40        ACBE
2     30     ABCDBCE
3     20     ACBDBCE
4     10     ABCDCBE
5     10  ACBDCBDBCE

In [ ]:
longey

{'AA': 0,
 'AB': 160,
 'AC': 160,
 'AD': 70,
 'AE': 160,
 'BA': 0,
 'BB': 0,
 'BC': 160,
 'BD': 80,
 'BE': 160,
 'CA': 0,
 'CB': 120,
 'CC': 0,
 'CD': 80,
 'CE': 160,
 'DA': 0,
 'DB': 80,
 'DC': 80,
 'DD': 0,
 'DE': 70,
 'EA': 0,
 'EB': 0,
 'EC': 0,
 'ED': 0,
 'EE': 0}

In [ ]:
dx_dic

{'Index LOL': 0,
 'A': 1,
 'B': 2,
 'C': 3,
 'D': 4,
 'E': 5,
 'F': 6,
 'G': 7,
 'H': 8,
 'I': 9}

In [ ]:
a = HW4DF[HW4DF["Index LOL"] == "B"].index[0]

Hurestic

In [ ]:
for j in longey:
   b = j[0]
   v = j[1]
   lk = []
   for i in trace_dic:
      f = i.count(b)
      h = f*trace_dic[i]
      lk.append(h)

   makhraj = sum(lk) + 1
   ans = longey[j] / makhraj
   col = dx_dic[v]
   row = HW4DF[HW4DF["Index LOL"] == b].index[0]
   HW4DF.iloc[row,col] = ans

In [ ]:
longey

{'AA': 0,
 'AB': 160,
 'AC': 160,
 'AD': 70,
 'AE': 160,
 'BA': 0,
 'BB': 0,
 'BC': 160,
 'BD': 80,
 'BE': 160,
 'CA': 0,
 'CB': 120,
 'CC': 0,
 'CD': 80,
 'CE': 160,
 'DA': 0,
 'DB': 80,
 'DC': 80,
 'DD': 0,
 'DE': 70,
 'EA': 0,
 'EB': 0,
 'EC': 0,
 'ED': 0,
 'EE': 0}

In [ ]:
HW4DF

Flexible Hurestic

In [ ]:
for j in longey:
   b = j[0]
   v = j[1]
   lk = []
   kl = []
   for i in trace_dic:
        f = i.count(b)
        h = f*trace_dic[i]
        lk.append(h)
        u = i.count(v)
        c = u*trace_dic[i]
        kl.append(c)
   makhraj = sum(lk) + sum(kl) + 1
   first = (2*longey[j]) / makhraj 
   second = (2 * abs(sum(lk) - sum(kl))) / makhraj 
   ans = first - second 
   print("{} and {} = {}".format(first,second,ans))
   col = dx_dic[v] 
   row = HW4DF[HW4DF["Index LOL"] == b].index[0] 
   HW4DF.iloc[row,col] = ans

In [ ]:
HW4DF

  Index LOL         A         B         C         D         E
0         A       0.0  0.399002  0.399002 -0.082988  0.996885
1         B -0.399002       0.0  0.665281 -0.498442  0.399002
2         C -0.399002   0.49896       0.0 -0.498442  0.399002
3         D   -0.6639 -0.498442 -0.498442       0.0 -0.082988
4         E       0.0 -0.399002 -0.399002   -0.6639       0.0

XOR/AND

In [ ]:
first = []
second = []
third = []
fourth = []
for i in trace_dic:
    b = i.count("BC")
    n = i.count("CB")
    x = i.count("AB")
    m = i.count("AC")
    first.append(b*trace_dic[i])
    second.append(n*trace_dic[i])
    third.append(x*trace_dic[i])
    fourth.append(m*trace_dic[i])

ans = (sum(first) + sum(second))/(sum(third) + sum(fourth) + 1)

In [ ]:
first = []
second = []
third = []
fourth = []
for i in trace_dic:
    b = i.count("DE")
    n = i.count("ED")
    x = i.count("BD")
    m = i.count("BE")
    first.append(b*trace_dic[i])
    second.append(n*trace_dic[i])
    third.append(x*trace_dic[i])
    fourth.append(m*trace_dic[i])

ans = (sum(first) + sum(second))/(sum(third) + sum(fourth) + 1)

In [ ]:
ans

0.0